








/* contact section */

.contact {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: white;
    padding: 82px 20px;
    text-align: center;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap:wrap ;
    max-width: 900px;
    margin: auto;
}

/* contact information */

.contact-info {
    flex: 1;
    text-align: left;
    max-width: 350px;
}

.contact-info h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-top: 10px;
}



/* Contact form */

.contact-form {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.contact-form:hover {
    transform: scale(1.05);
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background: #6280ee;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #fe2306da;
}

/* fade in animation contact section*/

.contact-container {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


